footer {
    color: #ddd;  
    flex-shrink: 0;
  
    .footer-top {
      background-color: #161616;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      box-sizing: border-box;
  
      .footer-section {
        width: 45%;
        padding: 0 20px;
        box-sizing: border-box;
  
        h2 {
            font-family: 'Cardo', serif;
            color: #f8f8f8;  
            font-size: 1.2em;
            margin-bottom: 10px;
            text-align: center;
        }
  
        p {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #ddd;  
            line-height: 1.5;
            text-align: left;
        }

        .icon {
            margin-right: 10px;
          }

        &.footer-contact-info {
          display: flex;
          flex-direction: column;
  
          .footer-contact-info-content {
            display: flex;
            justify-content: flex-start;
            color: #f8f8f8;
            font-size: 1rem; 
  
            p {
              display: flex;
              align-items: center;
  
              .icon {
                margin-right: 10px;
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        .footer-section {
          width: 100%;
        }
      }
    }
  
    .footer-bottom {
      background-color: #262626;
      padding: 10px 0;
      text-align: center;
    }

    a {
        color: #f8f8f8; 
    }
}

