nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  
    div {
      font-size: 2em;
      cursor: pointer;
      display: none; 
    }
  
    ul {
      list-style: none;
      display: flex; 
      gap: 1em; 
  
      li {
        padding: 0.5em;
      }
    }
  

    @media (max-width: 768px) {
      div {
        display: block; 
      }
  
      ul {
        display: none; 
        flex-direction: column; 
        position: absolute; 
        background-color: #fff; 
        width: 100%; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  
        &.open {
          display: flex; 
        }
      }
    }

    @media (min-width: 769px) {
        div {
            display: none;
        }
    }
}
