nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid grey; 

    .App-logo {
      height: 100px;
      animation: App-logo-spin infinite 15s linear;
      transform-origin: center center;
    }
  
    div {
      font-size: 3em;
      cursor: pointer;
      display: none; 
      color: black;
    }
  
    ul {
      list-style: none;
      display: flex; 
      gap: 1em; 
  
      li {
        padding: 0.5em;
      }
    }
  

    @media (max-width: 768px) {
      div {
        display: block; 
      }
  
      ul {
        z-index: 1;
        top: 2%;
        display: none; 
        flex-direction: column; 
        position: absolute; 
        background-color: #fff; 
        width: 25%;
        right: 0; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  
        &.open {
          display: flex; 
        }
      }
    }

    @media (min-width: 769px) {
        div {
            display: none;
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
