.contact-info-nav.wide-screen {
    display: none;
  }

  .contact-info-nav.wide-screen p {
    font-size: 1rem;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info p {
    margin: 0;
  }

  .contact-info p:nth-child(-n+2) {
    margin-right: 20px;
  }

  .icon {
    margin-right: 10px;
  }


  .contact-info-bar {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 1em;
  }

  @media (min-width: 769px) {
    .contact-info-nav.wide-screen {
      display: block;
    }
  
    .contact-info-bar {
      display: none;
    }
  }

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid grey; 
    background-color: #FFD700;

    .App-logo {
      height: 100px;
      animation: App-logo-spin infinite 15s linear;
      transform-origin: center center;
    }
  
    div {
      font-size: 2em;
      cursor: pointer;
      display: none; 
      color: black;
    }
  
    ul {
      list-style: none;
      display: flex; 
      gap: 1em; 
  
      li {
        padding: 0.5em;
      }
    }
  

    @media (max-width: 1168px) {
        .contact-info-bar {
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em;
          }

      div {
        display: block; 
      }

      nav {
        border-top: 1px solid grey;
      }
  
      ul {
        top: 4em;
        z-index: 1;
        top: 2%;
        display: none; 
        flex-direction: column; 
        position: absolute; 
        background-color: #fff; 
        width: 25%;
        right: 0; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  
        &.open {
          display: flex; 
        }
      }
    }

    @media (min-width: 1169px) {
        div {
            display: none;
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
